:root {
  --rubine-red: #da0158ff;
  --shocking-pink: #fa11bbff;
  --russian-violet: #490241ff;
  --sky-blue-crayola: #5ed7f4ff;
  --dark-orchid: #8e35d3ff;
  --dark-purple: #150225ff;
  --darker-purple: rgb(14, 2, 26);
  --light-light-gray: rgb(199, 201, 218);
  --dark-slate-blue: #57448fff;
  --black: #000000;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--light-light-gray);
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1.5rem 0 0.5rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin-left: 2rem;
}
p {
  padding: 0.5rem 0rem;
  margin-left: 3rem;
}

ol,
ul {
  margin-left: 3rem;
}

hr {
  border: none;
  background-color: var(--dark-slate-blue);
  height: 2px;
  margin: 0rem 2rem 1rem 2rem;
}

a {
  color: var(--sky-blue-crayola);
  text-decoration: none;
}

a:hover {
  color: var(--shocking-pink);
  text-decoration: underline;
}

#logo {
  width: 60%;
  height: auto;
}

#dylan-rex {
  padding: 0;
  margin: 1.5rem 0 0.5rem 0;
  background-color: var(--darker-purple);
}

#profile-tags {
  font-size: 1.2rem;
  background-color: var(--darker-purple);
}

#profile {
  position: fixed;
  display: flex;
  background: url("stars.webp");
  background-size: cover;
  height: 100vh;
  width: 25vw;
  border-right: 3px solid var(--light-light-gray);
  text-align: center;
  justify-content: center;
}

#profile-content {
  padding: 1rem;
  margin: auto;
}

#profile-content > p {
  width: fit-content;
  margin: 0.5rem auto;
  padding: 0;
}

#feed {
  background-color: var(--black);
  background-size: cover;
  height: auto;
  width: auto;
  padding: 0 3%;
  margin: 0 0 0 25vw;
}

#content {
  padding: 0 2%;
}

#navbar {
  background-color: var(--black);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: auto;
  border-bottom: 3px solid var(--rubine-red);
  padding: 1rem;
}

#about {
  margin: 2rem 4rem;
  font-size: 1rem;
}

.navlink {
  color: var(--light-light-gray);
  font-size: 1.2rem;
  text-decoration: none;
}

.tag-sep {
  color: var(--rubine-red);
  font-weight: 900;
}

.tag-sep-header {
  color: var(--rubine-red);
  font-weight: 500;
  letter-spacing: -5px;
}
